<div>
    <h3>Name: <%= product[0].name%></h3>
    <small>Brand: <%= product[0].brand%></small>
    <h4>Price: <%= product[0].price%></h4>
    <small>Category: <%= product[0].category%></small>
    <h5>ID: <%= product[0].id%></h5>

    <a href="/delete_id/<%= product[0].id%>">Delete a product</a>
</div>